@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
.nav {
  display: flex;
  justify-content: space-between;
  padding: 0.8rem;
  background-color: #c5d3e8;
}
.nav-toggle {
  display: flex;
  justify-content: start;
  align-items: center;
}
.logo {
  display: flex;
  justify-content: start;
  align-items: center;
}
.logo-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  font-weight: 500;
}
#toggle-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
.nav-list {
  display: flex;
  justify-content: end;
  align-items: center;
  list-style: none;
  gap: 1rem;
}
.nav-items {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #111;
  font-size: 1rem;
  font-weight: 400;
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
}
.nav-items:hover {
  color: #6929ff;
}
.nav-item-logo {
  font-size: 1.5rem;
  padding: 0.5rem;
}
@media only screen and (max-width: 768px) {
  .nav-items {
    display: none;
  }
}

// Home
.section-home{
  display: flex;
  justify-content: space-between;
}
.index-text-section{
  width: 50%;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}
.img-index-contain{
  width: 50%;
}
#img-main{
  width: 100%;
  height: 100%;
  clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0% 100%);
}
.heading-contain h2 {
  font-size: 1.5rem;
  font-weight: 600;
  border-right: 3px solid #000;
  padding-right: 2px;
  animation: blink-border 1s infinite; /* Attach animation */
}

@keyframes blink-border {
  0% {
    border-right-color: #000; /* Visible border */
  }
  50% {
    border-right-color: transparent; /* Hidden border */
  }
  100% {
    border-right-color: #000; /* Visible border again */
  }
}
.text-contain-index-pera{
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  font-style: normal;
}
#Closelink{
  padding: 5px 20px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  text-transform: capitalize;
  font-weight: 600;
  letter-spacing: 0.2px;
  outline: none;
  background-color: #3029ff;
  color: #f9f9f9;
  box-shadow: 0px 0px 5px 0.5px #999;
  border: none;
}